<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define RMAPISourceDir="..\"?>
	<Fragment>
		<ComponentGroup Id="OneNoteToRMComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExec" Guid="{62F5C224-CD94-4F81-8C43-B19F7A46585F}">
		  <File Source="OneNoteToRM.exe" />
		  <File Source="bz2.dll" />
		  <File Source="bz2d.dll" />
		  <File Source="cpprest_2_10.dll" />
		  <File Source="cpprest_2_10d.dll" />
		  <File Source="WebView2Loader.dll" />
		  <File Source="zip.dll" />
		  <File Source="zlib1.dll" />
		  <File Source="zlibd1.dll" />
	  </Component>
		
	  <Component Id="RMAPI">
		  <File Source="$(var.RMAPISourceDir)\RMAPI.exe" />
	  </Component>

		<Component Id="TestIni" Guid="*">
			<File Source="OneNoteToRM.ini" />

			<IniFile Id="Ini1"
					 Action="addLine"
					 Directory="INSTALLFOLDER"
					 Section="RMFile"
					 Name="OneNoteToRM.ini"
					 Key="RMAPIDir"
					 Value="[INSTALLFOLDER]" />

			<IniFile Id="Ini2"
					 Action="removeLine"
					 Directory="INSTALLFOLDER"
					 Section="OneNote"
					 Name="OneNoteToRM.ini"
					 Key="RefreshToken"
					 />

		</Component>
	</ComponentGroup>
  </Fragment>
</Wix>
