<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define Version="0.2.0"?>

	<Package Id="DavidPoirier.OneNoteToRMPkg" Name="OneNoteToRM" Manufacturer="David Poirier" Version="$(var.Version)">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="Main">
			<ComponentGroupRef Id="OneNoteToRMComponents" />
			<ComponentGroupRef Id="WebView2Runtime" />
		</Feature>
	</Package>
</Wix>
